@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root {
  --theme-background-color: #202225;
  --background-color: #2f3136;
  --primary-color: #fff;
  --header-color: #b9bbbe;
  --button-background-color: #4f545c;
  --button-hover-color: #5d6269;
  --button-active-color: #72767d;
  --popup-background-color: #36393f;
  --opacity-popup: rgba(8, 9, 10, 0.8);
  --close-color: #b9bbbe;
  --close-hover-color: #dcddde;
  --text-normal-color: #dcddde;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
#bodyProfile {
  background-color: var(--theme-background-color);
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  .returnflex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .return {
      background-color: var(--button-background-color);
      color: var(--primary-color);
      cursor: pointer;
      width: 87px;
      height: 44px;
      padding: 2px 16px;
      transition: background-color 0.17s ease, color 0.17s ease;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 3px;

      user-select: none;
      position: absolute;
      top: 50px;
      a {
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        padding: 3px;
        color: var(--primary-color);
      }
    }
    .return:hover {
      background-color: var(--button-hover-color);
    }
    .return:active {
      background-color: var(--button-active-color);
    }
  }
}
.card-container {
  background-color: var(--background-color);
  border-radius: 8px;
  color: var(--primary-color);
  padding: 15px;
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  .item {
    .headerItem {
      color: var(--header-color);
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .flex {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .text {
        text-overflow: ellipsis;
        font-size: 16px;
        margin-bottom: 20px;
      }
      img {
        height: 4rem;
        width: auto;
        border-radius: 50%;
      }
      .change {
        background-color: var(--button-background-color);
        color: var(--primary-color);
        cursor: pointer;
        margin-top: auto;
        margin-bottom: auto;
        width: 80px;
        min-width: 80px;
        height: 32px;
        min-height: 32px;
        padding: 2px 16px;
        transition: background-color 0.17s ease, color 0.17s ease;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        user-select: none;
      }
      .change:hover {
        background-color: var(--button-hover-color);
      }
      .change:active {
        background-color: var(--button-active-color);
      }
    }
  }
}
.namePop {
  position: absolute;
  background-color: var(--opacity-popup);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .layer {
    z-index: 50;
    .focusLock {
      z-index: 50;
      background-color: var(--popup-background-color);
      width: 440px;
      min-height: 200px;
      max-height: 720px;
      transform: scale(1);
      border-radius: 4px;
      margin: 0 auto;
      position: relative;
      pointer-events: all;
      display: flex;
      flex-direction: column;
      .nameChange {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        color: var(--primary-color);
        padding: 16px;
        overflow-x: hidden;
      }
      .headerItem {
        color: var(--header-color);
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 15px;
        margin-left: 15px;
      }
      .info {
        justify-content: center;
        height: 60px;
      }
      .close {
        position: absolute;
        top: 7px;
        right: 13px;
        padding: 4px;
        transition: opacity 0.2s ease-in-out;
        opacity: 0.5;
        cursor: pointer;
        border-radius: 3px;
        color: var(--close-color);
        background-color: transparent;
        svg {
          width: 24px;
          height: 24px;
        }
      }
      .close:hover {
        opacity: 1;
        color: var(--close-hover-color);
      }
      .imageUpload {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .profileImagePopUp {
          border-radius: 50%;
          height: 10rem;
          max-width: 10rem;
        }
        .imageBtn {
          background-color: var(--button-background-color);
          color: var(--primary-color);
          cursor: pointer;
          margin-top: auto;
          margin-bottom: auto;
          width: 80px;
          min-width: 80px;
          height: 32px;
          min-height: 32px;
          padding: 2px 16px;
          transition: background-color 0.17s ease, color 0.17s ease;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 3px;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          user-select: none;
          margin-right: 20px;
        }
        .imageBtn:hover {
          background-color: var(--button-hover-color);
        }
        .imageBtn:active {
          background-color: var(--button-active-color);
        }
        margin: 15px;
      }
      form {
        margin: 15px;
        flex-direction: column;
        .headerItem {
          color: var(--header-color);
          margin-bottom: 4px;
          margin-left: 0px;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }
        .inputName {
          width: 100%;
          border-radius: 3px;
          color: var(--text-normal-color);
          align-items: center;
          font-size: 16px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          padding: 10px;
          height: 40px;
          transition: border-color 0.2s ease-in-out;
          background-color: rgba(0, 0, 0, 0.1);
        }
        .inputName:hover {
          border-color: #040405;
        }
      }
      .submit {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 17px;
        background-color: #2f3136;
        border-radius: 0 0 5px 5px;
        .cancel {
          color: var(--primary-color);
          margin-right: 8px;
          width: 96px;
          height: 38px;
          min-width: 96px;
          min-height: 38px;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          overflow: hidden;
          background-color: transparent;
          font-weight: 500;
          font-size: 18px;
          cursor: pointer;
        }
        .cancel:hover {
          text-decoration: underline;
        }
        .submitBtn {
          color: var(--primary-color);
          background-color: hsl(235, calc(1 * 85.6%), 64.7%);
          width: 96px;
          height: 38px;
          min-width: 96px;
          min-height: 38px;
          transition: background-color 0.17s ease, color 0.17s ease;
          border: none;
          border-radius: 3px;
          font-size: 14px;
          font-weight: 500;
          padding: 2px 16px;
          cursor: pointer;
        }
        .submitBtn:hover {
          background-color: hsl(235, calc(1 * 51.4%), 52.4%);
        }
        .submitBtn:active {
          background-color: hsl(235, calc(1 * 46.7%), 44.1%);
        }
      }
    }
  }
}
